<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{page.title}}</title>
		<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<link href="/feed/" rel="alternate" title="Atom feed" type="application/atom+xml">
		<meta charset="utf-8">
	</head>
	<body>
		<header>
			<h1><a href="http://blog.monotask.com/" title="The most recent interviews.">The Monotask Blog</a></h1>
			<p id="tagline">tagline</p>
		</header>
		<nav>
			<ul>
				<li><a href="/about/">About</a></li>
				<li><a href="/archives/">Archives</a></li>
			</ul>
		</nav>
		<section>
		{{content}}
		</section>

		<footer>This is the blog for <a href="https://monotask.com/">Monotask</a></footer>
		<aside>sidebar</aside>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6917598-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	</body>
</html>